<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::content},~{::head},'Cooks', ~{::scripts})}">
<head>

</head>
<body>
<th:block th:fragment="content">
    <h2>
        Full list of cooks
    </h2>
    <a th:href="@{createCook}" role="button" class="btn btn-primary" style="margin-bottom: 15px;">
        <i class="far fa-plus-square"></i>
        <span>Add new cook</span>
    </a>
    <th:block th:include="~{fragments/cookList :: cookListFragment (${cookList})}"/>
</th:block>
<th:block th:fragment="scripts">
    <script src="/js/cook-list.js"></script>
</th:block>
</body>
</html>
