<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::content},~{::head},'Restaurants', ~{::scripts})}">
<head>

</head>
<body>
<th:block th:fragment="content">
    <h1>List of restaurants</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">More</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="restaurant : ${restaurantList}">
            <tr>
                <th th:text="${restaurant.id}" scope="row">
                    ID
                </th>
                <td th:text="${restaurant.name}">
                    Name
                </td>
                <td th:text="${restaurant.address}">
                    Location
                </td>
                <td>
                    <a th:href="@{schedule(restaurantId=${restaurant.id})}" class="badge badge-primary"> <i
                            class="far fa-calendar-check"></i>
                        Roster</a>
                    <a th:href="@{/cooks/list(restaurantId=${restaurant.id})}" class="badge badge-primary">
                        <i class="far fa-user"></i>
                        Cooks</a>

                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</th:block>
<th:block th:fragment="scripts">
    <script>

    </script>
</th:block>
</body>
</html>
