<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::content},~{::head},'Restaurants', ~{::scripts})}">
<head>

</head>
<body>
<th:block th:fragment="content">
    <div>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
        <th:block th:each="restaurant : ${restaurantList}">
            <tr>
                <td th:text="${restaurant.id}">
                    ID
                </td>
                <td th:text="${restaurant.name}">
                    Name
                </td>
                <td th:text="${restaurant.address}">
                    Location
                </td>
                <td>
                    <a th:href="@{schedule(restaurantId=${restaurant.id})}">Schedule</a>
                </td>
            </tr>
        </th:block>
    </table>
</th:block>
<th:block th:fragment="scripts">
    <script>

    </script>
</th:block>
</body>
</html>
