<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::content},~{::head},'Cooks', ~{::scripts})}">
<head>

</head>
<body>
<th:block th:fragment="content">
    <h2>
        Cooks of the <span th:text="${restaurant.name}"></span>
    </h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Certification</th>
        </tr>
        <th:block th:each="cook : ${cookList}">
            <tr>
                <td th:text="${cook.id}"></td>
                <td th:text="${cook.fullName}">
                    Full name
                </td>
                <td th:text="${T(ru.guybydefault.restnetwork.util.StringUtil).formCookCertificationsString(cook.getCuisineCertificationList())}">
                    Certification list
                </td>
            </tr>
        </th:block>
    </table>
</th:block>
<th:block th:fragment="scripts">
    <script>

    </script>
</th:block>
</body>
</html>
