<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="footer (menu)">

<!--footer starts from here-->
<footer class="footer">
    <ul class="list-inline text-center">
        <li th:fragment="menuItem (path,title)" th:class="${title==menu ? 'list-inline-item active' : 'list-inline-item'}">
            <a th:text="${title}" th:href="@{__${path}__}">
                Название пункта меню
            </a>
        </li>
        <li th:replace="::menuItem ('/','Афиша')">
        </li>
        <li th:replace="::menuItem ('/','Мои заказы')">
        </li>
        <li th:replace="::menuItem ('/','Мои оценки')">
        </li>
    </ul>
    <p class="text-center ">Copyright 2018 | Specially Designed For <a href="http://se.ifmo.ru">Helios Corp.</a></p>
</footer>


</body>
</html>