<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body th:fragment="header (menu)">


<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Restaurant Network</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li th:fragment="menuItem (path,title)" th:class="${title==menu ? 'nav-item active' : 'nav-item'}">
                <a class="nav-link" th:text="${title}" th:href="@{__${path}__}">
                    Menu item
                </a>
            </li>
            <li th:replace="::menuItem ('/restaurants/list','Restaurants')">
            </li>
            <li th:replace="::menuItem ('/cooks/list','Cooks')">
            </li>
        </ul>
    </div>
</nav>
</body>
</html>